node_modules/*
!node_modules/electron-compilers
node_modules/electron-compilers/*
!node_modules/electron-compilers/lib
node_modules/electron-compilers/lib/*
!node_modules/electron-compilers/lib/passthrough.js
out
.DS_Store
package-lock.json
*.log
package.json
app/js/*
