node_modules/*
!node_modules/electron-compilers
node_modules/electron-compilers/*
!node_modules/electron-compilers/lib
node_modules/electron-compilers/lib/*
!node_modules/electron-compilers/lib/passthrough.js
out
*.log