[Unit]
Description=TRIGGERcmd Agent

[Service]
Type=simple
ExecStart=/usr/bin/node /root/triggercmdAgent/src/daemon.js --run
User=root
ExecStop=/usr/bin/ps aux | grep 'daemon.js --run' | grep -v 'grep' | awk '{print $2}' | xargs kill
Restart=always

[Install]
WantedBy=default.target

