[Unit]
Description=TRIGGERcmd Agent

[Service]
Type=simple
ExecStart=/usr/bin/node /root/triggercmdAgent/src/daemon.js --run
User=root
Restart=always

[Install]
WantedBy=default.target

